.App {
  width: 100%;
  overflow: hidden;
}

h1 {
  cursor: pointer;
}

.Container {
  padding: 1rem 4rem;
}
.Header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: relative;
}

.Button_Container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}

.toggleButton {
  font-size: 1.25rem;
  font-weight: 700;
  border: 2px solid hsl(0deg, 0%, 5%);
  background: white;
  outline-offset: 2px;
  border-radius: 1px;
  cursor: pointer;
  margin: 4px;
}

.toggleButton:hover {
  background: hsl(0deg, 0%, 5%);
  color: white;
}

.List_Card {
  font-size: 1.25rem;
  font-weight: 700;
  border: 2px solid hsl(0deg, 0%, 5%);
  background: white;
  outline-offset: 2px;
  border-radius: 1px;
  cursor: pointer;
  padding: 1rem;
  margin: 1rem 0;
}

.List_Card:hover {
  background: hsl(0deg, 0%, 5%);
  color: white;
}

.Dropdown {
  position: absolute;
  right: 0;
  top: 10;
  display: flex;
  flex-direction: column;
  width: 20rem;
  height: auto;
  margin: 2rem 0;
  border: 2px solid hsl(0deg, 0%, 5%);
  background: hsl(0deg, 0%, 5%);
  color: white;
  padding: 0 1rem;
  z-index: 99;
}
